{% extends "base.html.twig" %}

{% block body %}
<div class="column" style="width: 70%">
    {% block main %}
    {% endblock %}
</div>
<div class="column" style="width: 30%">
    <h2>Links</h2>
    <ul>
        <li><a href="{{ path('card_start') }}">Card Start Page</a></li>
        <li><a href="{{ path('card_session') }}">Session Information</a></li>
        <li><a href="{{ path('card_session_delete') }}">Delete Session</a></li>
        <li><a href="{{ path('card_deck') }}">Show all cards in deck</a></li>
        <li><a href="{{ path('card_deck_shuffle') }}">Show all cards in deck shuffled</a></li>
        <li><a href="{{ path('card_deck_draw') }}">Draw a card</a></li>
    </ul>
</div>
{% endblock %}