{% extends "base.html.twig" %}

{% block title %}Black Jack: Game{% endblock %}

{% block body %}
<div class="column">
    {{ include('flash.html.twig') }}
    <h1>Dealer's Cards:</h1>

    <ul class="cardHand">
        {% for card in dealerCards %}
            <li class="card">{{ card }}</li>
        {% endfor %}
    </ul>

    <h2>Value: {{ dealerHandValue }}</h2>

    <h1>Player's Cards:</h1>

    <ul class="cardHand">
        {% for card in playersCards[0] %}
            <li class="card">{{ card }}</li>
        {% endfor %}
    </ul>

    <h2>Value: {{ playersHandValue[0] }}</h2>

    {% if gameStates[0] == "Undecided"%}
        <form method="post" action="">
            <p>
                <input type="submit" name="hit" value="Hit" 
                onClick="this.form.action='{{ path('black_jack_hit') }}';">
                <input type="submit" name="stay" value="Stay" 
                onClick="this.form.action='{{ path('black_jack_stay') }}';">
            </p>
        </form>
    {% else %} 
        {% if gameStates[0] == "Tie"%}
            <h1>The game is over, it resulted in a Tie</h1>
        {% else %}
            <h1>The game is over, it resulted in a victory for the: {{ gameStates[0] }}</h1>
        {% endif %}

        <h2>Do you want to play again?</h2>
            
        <form method="post" action="">
            <p>
                <input type="submit" name="yes" value="Yes" 
                onClick="this.form.action='{{ path('black_jack_reset') }}';">
                <input type="submit" name="No" value="No" 
                onClick="this.form.action='{{ path('game_start') }}';this.form.method='get';">
            </p>
        </form>
    {% endif %}
</div>
{% endblock %}