{% extends 'book/base.html.twig' %}

{% block title %}Book: Show Book{% endblock %}

{% block main %}
<h1>Shows book</h1>

<div class="center-box">
    <table>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
        </tr>
        <tr>
            <td><img src="{{ asset(book['img']|default('/uploads/default.jpg'))}}" alt="Cover image of {{ book['title'] }}" class="img-book"></td>
            <td>{{ book['title'] }}</td>
            <td>{{ book['isbn'] }}</td>
            <td>{{ book['author'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}