{% extends "base.html.twig" %}

{% block title %}MVC: Api{% endblock %}

{% block body %}
<div class="column">
    <h1>Alla länkar till Jason api</h1>
    <div class="center-box">
        <table>
            <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Länk</th>
            </tr>
            <tr>
                <td>Quotes</td>
                <td>Skickar en jason inehållande ett slumpat sitat (quote,author,timestamp)</td>
                <td><a href="{{ path('api/quote') }}">Quotes</a></td>
            </tr>
            <tr>
                <td>Deck</td>
                <td>Skickar en jason inehållande en kortlek (deck)</td>
                <td><a href="{{ path('api/deck') }}">Deck</a></td>
            </tr>
            <tr>
                <td>Deck Shuffle</td>
                <td>Skickar en jason inehållande ett slumpad kortlek (deck)</td>
                <td>
                    <form method="post" action="{{ path('api/deck/shuffle') }}" class="inline">
                        <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                        <button type="submit" name="submit_param" value="submit_value" class="link-button">
                            Shuffle
                        </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Deck Draw</td>
                <td>Skickar en jason inehållande ett kort draget från kortleken (hand, deckNumber)</td>
                <td>
                    <form method="post" action="{{ path('api/deck/draw') }}" class="inline">
                        <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                        <button type="submit" name="submit_param" value="submit_value" class="link-button">
                            Draw
                        </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Deck Draw Number</td>
                <td>Skickar en jason inehållande en :number många kort från kortleken (hand, deckNumber)</td>
                <td>
                    <form method="post" action="{{ path('api/deck/draw/:number', {num:3}) }}" class="inline">
                        <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                        <button type="submit" name="submit_param" value="submit_value" class="link-button">
                            Draw 3
                        </button>
                    </form>
                    <form method="post" action="{{ path('api/deck/draw/:number', {num:5}) }}" class="inline">
                        <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                        <button type="submit" name="submit_param" value="submit_value" class="link-button">
                            Draw 5
                        </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Game</td>
                <td>Skickar en jason inehållande stälningen i Black Jack spelet (bankHand, bankHandValue, playerHand, playerHandValue)</td>
                <td><a href="{{ path('api/game') }}">Game</a></td>
            </tr>
            <tr>
                <td>Books</td>
                <td>Skickar en jason inehållande alla böcker i biblioteket (books)</td>
                <td><a href="{{ path('api/library/books') }}">Books</a></td>
            </tr>
            <tr>
                <td>Books ISBN</td>
                <td>Skickar en jason inehållande boken i biblioteket som innehåller ett specifik ISBN(book)</td>
                <td><a href="{{ path('api/library/book/isbn', {'isbn': 9780395489314}) }}">Book ISBN</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}